<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<mat-toolbar color="primary">
    <a mat-button routerLink="./home" routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="./menu" routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Menu</a>
  </mat-toolbar>
  
  <div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">

  </div>