<div class="container"
fxLayout = "column"
fxLayoutGap = "10px">

<div fxFlex *ngIf="dishes">
  <mat-grid-list cols="1" rowHeight="200px">
    <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
      <img height="200px" src={{dish.image}} alt={{dish.name}}>
      <mat-grid-tile-footer>
        <h1>{{dish.name | uppercase}}</h1>
      </mat-grid-tile-footer>
    </mat-grid-tile>

  </mat-grid-list>
  </div>
</div>

