/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
/*@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';*/

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;

  }

html, body {
  height: 100%;
}


.container {
  margin: 20px;
  display:flex;
}
